.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.form-box{
    width: 700px;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    background: #fff;
    margin-left: 60px;
}

.form-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-div-side{
    width: 49%
}

.form-box input{
    width:100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #eeebeb;
    outline: none;
}
.form-box input:focus{
    box-shadow: 0px 0px 1px 1px rgb(255,223,123);
}


.form-box button{
    width: 100%;
    margin-bottom: 15px;
    color: #af7537;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 13px 0;
    cursor: pointer;
    background: #ffdf7b;
}
.form-box button:hover{
    background-color: #af7537;
    color: #ffdf7b;
}
.form-box a{
    color: #af7537;
    font-size: 18px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
}

.form-box a:hover{
    text-decoration: underline;
}
.button{
    width: 100%;
    margin-bottom: 15px;
    color: #af7537!important;
    font-size: 20px!important;
    border-radius: 5px;
    border: none;
    padding: 13px 0;
    cursor: pointer;
    background: #ffdf7b;
    text-decoration: none;
}

.button:hover{
    background-color: #af7537;
    color: #ffdf7b!important;
    text-decoration: none!important;
}

.form-box hr{
    border: 1px solid #dadde1;
    margin-bottom:15px;
}
.form-box .create-btn a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: #3d3c42;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
}
.form-box .create-btn a:hover{
    background: #46454c;
}

.form-box span{
    color:red;
    font-family: MarlinGeoBold;
}