{% load static %}
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'top-nav.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'games-list.css' %}"/>
{% csrf_token %}
<title> Home Page </title>
</head>

<body>
  <div class="topnav">
    <img src="{% static 'logo.png' %}" alt="Rasbet Logo">
    <a href="/game/sports_page">Desporto</a>
    <a href="">Promoções</a>
    {% if logged %}
    <a href="/">{{ fname }}</a>
    <a href="/accounts/balance">Balance: {{ balance }}€</a>
    <div class="topnav-right">
      <a href="/accounts/logout">Logout</a>
    </div>
    {% else %}
    <div class="topnav-right">
      <a href="/accounts/login">Login</a>
      <a href="/accounts/signup">Registar</a>
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="column middle">
      <form method='get' action="/game/sport">
        {% for s in sports_info %}
        

          <div class="column odds">
            <div class="column odd">
                <button name="sport" type="submit" value="{{s}}" data-checked="false" >{{s}}</button>
            </div>
          </div>

        {% endfor %}
      </form>
    </div>
  </div>
</body>

</html>
