@font-face {
  font-family: MarlinGeoBold;
  src: url("MarlinGeo\ Bold.ttf");
}
@font-face {
  font-family: MarlinGeoLight;
  src: url("MarlinGeo\ Light.ttf");
}
@font-face {
  font-family: MarlinGeoThin;
  src: url("MarlinGeo\ Thin.ttf");
}
@font-face {
  font-family: MarlinGeoMedium;
  src: url("MarlinGeo\ Medium.ttf");
}

body{
  margin:0;
  padding: 0;
  background-color: #eff4f8;
  font-family: MarlinGeoMedium;
}

/* Add a black background color to the top navigation */
nav {
  width: 100%;
  background-color: #3d3c42;
  overflow: auto;
}

nav ul{
  padding: 0;
  margin: 0 0 0 170px;
  list-style:none;
}
nav li{
  float:right;
}
.logo img{
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
  width: 150px;
}
nav a{
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
nav a:hover{
  transition: 0.5s;
  text-transform: uppercase;
}
