{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'top-nav.css' %}"/>
    <title> Deposit </title>
  </head>
  <body>
    <div class="topnav">
      <img src="{% static 'logo.png' %}" alt="Rasbet Logo">
      <a href="/game/sports_page">Desporto</a>
      <a href="">Promoções</a>
      {% if logged %}
      <a href="/">{{ fname }}</a>
      <a href="/accounts/balance">Balance: {{ balance }}€</a>
      <div class="topnav-right">
        <a href="/accounts/logout">Logout</a>
      </div>
      {% else %}
      <div class="topnav-right">
        <a href="/accounts/login">Login</a>
        <a href="/accounts/signup">Registar</a>
      </div>
      {% endif %}
    </div>

      <div>
        <h1>BALANCE</h1>
        <h3>{{balance}} €</h3>
        <a href="/accounts/deposit">Deposit</a> <br>
        <a href="/accounts/withdraw">Withdraw</a>

      </div>
    </body>
</html>
