{% load static %}
{% csrf_token %}
<!DOCTYPE html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'display.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}"/>

{% csrf_token %}
<title>Balance</title>
</head>

<body>
  <div class="header">
    <div class="header-left">
      <div class="tab"><a class="img" href="/" ><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></a></div>
      <div class="tab"><a href="/">Sport</a></div>
      <div class="tab"><a href="/accounts/promotions">Promotions</a></div>
      <div class="tab"><a class="active" href="/accounts/profile">{{ fname }}</a></div>
      <div class="tab_balance">{{ balance | floatformat:2 }}€<a href="/accounts/deposit">+</a></div>
    </div>
    <div class="header-right">
      <div class="tab"><a href="/accounts/logout">Logout</a></div>
    </div>
  </div>

  <div class="container">
    <div class="form-box">
      <div class="balance-box">
        <h1>{{fname}}'s Balance</h1>
        <h2>{{ balance | floatformat:2 }}€</h2>
      </div>
      <div class="form-div">
        <div class="form-div-side"><a class="button" href="/accounts/deposit">Deposit</a></div>
       <div class="form-div-side"><a class="button" href="/accounts/withdraw">Withdraw</a></div>
      </div>
    </div>

  </div>
    </body>
</html>
