{% load static %}
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% csrf_token %}
<title> Home Page </title>
</head>
<body>
  
  {% if logged %}
      {% if msg == 1 %}
      <p>Password incorreta</p>
      {% elif msg == 2 %}
      <p>Passowrds nao correspondem</p>
      {%endif%}
      <form method="POST" required>
        {% csrf_token %}
        <input type="password" placeholder="Password" name="psw" value="" required>
        <input type="password" placeholder="Password" name="newpsw" value="" pattern="(?=.*\d)(?=.*[a-z]).{8,}" title="Must contain at least one number and at least 8 or more characters" required>
        <input type="password" placeholder="Password" name="newpsw2" value="" pattern="(?=.*\d)(?=.*[a-z]).{8,}" title="Must contain at least one number and at least 8 or more characters" required>
        <div id="confirm_state">
          <button type="submit">GRAVAR</button>
      </form>
    </div>
  {%else%}
    <p> you not logged! </p>
  {% endif %}
 </body>
 </html>