{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'display.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}"/>
    <title> Deposit </title>
    </head>

    <body>
      <div class="header">
        <div class="header-left">
          <a href="/" ><div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div></a>
        </div>
        <div class="header-right">
          <div class="tab"><a href="/accounts/logout">Logout</a></div>
        </div>
      </div>
      <div class="container">
        <div class="form-box">
          <form id="myform" method="POST" >
            {% csrf_token %}
            <div>
              <div>
                <h3>Promo code</h3>
                <input name="promo_code">
                {%if promo_error%}
                  <span>Invalid promotion</span>
                {%endif%}
              </div>
              <div>
                <h2>Amount to deposit</h2>
                <input type="number" name="amount" oninput="check_deposit_value(this)" required>
                <div class="minAmount"></div>
              </div>
              <div>
                <button class="depositBtt" type="submit" name="Mbway" value="Mbway" disabled>Mbway</button>
                <button class="depositBtt" type="submit" name="Card" value="Card" disabled>Card</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <script src="{% static 'transations.js' %}"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="{% static 'cookies.js' %}"></script>
  </body>
</html>
