{% load static %}
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'display.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'games-list.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'boletim.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'scrollbar.css' %}"/>
{% csrf_token %}
<title> Home Page </title>
</head>

<body>
  <div class="header">
    <div class="header-left">
      <div class="tab"><a class="img" href="/" ><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></a></div>
      <div class="tab"><a href="/">Desporto</a></div>
      <div class="tab"><a href="/accounts/promotions">Promoções</a></div>
      <div class="tab"><a class="active" href="/accounts/profile">{{ fname }}</a></div>
      <div class="tab_balance">{{ balance }}€<a href="/accounts/deposit">+</a></div>
    </div>
    <div class="header-right">
      <div class="tab"><a href="/accounts/logout">Logout</a></div>
    </div>
  </div>
    <div>
        <p>FAVORITES SPORTS</p>
        <table>
          {%for fav in favs_sports%}
          <tr>
            <td>{{fav}}</td>
            <td>
                <form action="" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="fav" value="{{fav}}">
                  <input type="hidden" name="type" value="Sport">
                  <button type="submit">eliminar</button>
                </form>
            </td>
          </tr>
          {%endfor%}
        </table>
    </div>
    <div>
        <p>FAVORITES COMPETITIONS</p>
        <table>
          {%for fav in favs_comps%}
          <tr>
            <td>{{fav}}</td>
            <td>
                <form action="" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="fav" value="{{fav}}">
                  <input type="hidden" name="type" value="Competition">
                  <button type="submit">eliminar</button>
                </form>
            </td>
          </tr>
          {%endfor%}
        </table>
    </div>
    <div>
        <p>FAVORITES TEAMS</p>
        <table>
          {%for fav in favs_teams%}
          <tr>
            <td>{{fav}}</td>
            <td>
                <form action="" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="fav" value="{{fav}}">
                  <input type="hidden" name="type" value="Participant">
                  <button type="submit">eliminar</button>
                </form>
            </td>
          </tr>
          {%endfor%}
        </table>
    </div>
    <div>
        <p>FAVORITES PLAYERS</p>
        <table>
          {%for fav in favs_players%}
          <tr>
            <td>{{fav}}</td>
            <td>
                <form action="" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="fav" value="{{fav}}">
                  <input type="hidden" name="type" value="Participant">
                  <button type="submit">eliminar</button>
                </form>
            </td>
          </tr>
          {%endfor%}
        </table>
    </div>
 </body>
 </html>
