{% load static %}
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'display.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'games-list.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'boletim.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'scrollbar.css' %}"/>
{% csrf_token %}
<title> Home Page </title>
</head>

<body>
  
  {% if logged %}
    {% if admin %}
    <div class="header">
      <div class="header-left">
        <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
        <div class="tab"><a class="active" href="/game/sports_page">Desporto</a></div>
        <div class="tab"><a href="">Promoções</a></div>
        <div class="tab"><a href="">{{ fname }}</a></div>
        <div class="tab"><a>ADMIN</a></div>
      </div>
      <div class="header-right">
        <div class="tab"><a href="/accounts/logout">Logout</a></div>
      </div>
    </div>
    {% elif specialist %}
    <div class="header">
      <div class="header-left">
        <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
        <div class="tab"><a class="active" href="/game/sports_page">Desporto</a></div>
        <div class="tab"><a href="">Promoções</a></div>
        <div class="tab"><a href="">{{ fname }}</a></div>
        <div class="tab"><a>SPECIALIST</a></div>
      </div>
      <div class="header-right">
        <div class="tab"><a href="/accounts/logout">Logout</a></div>
      </div>
    </div>
    {%else%}
    <div class="header">
      <div class="header-left">
        <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
        <div class="tab"><a class="active" href="/game/sports_page">Desporto</a></div>
        <div class="tab"><a href="">Promoções</a></div>
        <div class="tab"><a href="/accounts/profile">{{ fname }}</a></div>
        <a href="/accounts/balance">Balanco: {{ balance }}€</a>
      </div>
      <div class="header-right">
        <div class="tab"><a href="/accounts/logout">Logout</a></div>
      </div>
    </div>
    <div><p>STATISTICS</p></div>
    <div><p>Total depositado: {{statistics.deposit}}€</p></div>
    <div><p>Total levantado: {{statistics.withdraw}}€</p></div>
    <div><p>Total apostado: {{statistics.bet_spend}}€ Apostas feitas: {{statistics.bets}} Apostas simples: {{statistics.simple_bets}} Apostas multiplas: {{statistics.multiple_bets}} Apostas em espera: {{statistics.standby_bets}}</p></div>
    <div><p>Total ganho com apostas: {{statistics.bet_gains}} €</p></div>
    <div><p>Total ganho com promoções (deposito): {{statistics.promotion_gains}} €</p></div>
    <div><p>Percentagem de apostas ganhas: {{statistics.win_rate}}% Apostas ganhas: {{statistics.won_bets}} Apostas perdidas: {{statistics.lost_bets}}</p></div>
    <div><p>Percentagem de apostas simples ganhas: {{statistics.win_rate_simple}}% Apostas ganhas: {{statistics.won_simple_bets}} Apostas perdidas: {{statistics.lost_simple_bets}}</p></p></div>
    <div><p>Percentagem de apostas multiplas ganhas: {{statistics.win_rate_multiple}}% Apostas ganhas: {{statistics.won_multiple_bets}} Apostas perdidas: {{statistics.lost_multiple_bets}}</p></p></div>
    <div><p>TRANSACTIONS</p></div>
    <table>
      {%for t in transactions%}
      <tr>
        <td>{{t.type}}</td>
        <td>{{t.amount}}</td>
        <td>{{t.method}}</td>
        <td>{{t.date}}</td>
      </tr>
      {%endfor%}
    </table>

    {% endif %}
  {% else %}
  <div class="header">
    <div class="header-left">
      <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
      <div class="tab"><a class="active" href="/game/sports_page">Desporto</a></div>
      <div class="tab"><a href="">Promoções</a></div>
    </div>
    <div class="header-right">
      <div class="tab"><a href="/accounts/login">Login</a></div>
      <div class="tab"><a href="/accounts/signup">Registar</a></div>
    </div>
  </div>
  {% endif %}
 </body>
 </html>