{% load static %}
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'display.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'games-list.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'boletim.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'scrollbar.css' %}"/>
{% csrf_token %}
<title> Home Page </title>
</head>

<body>

  {% if logged %}
    {% if admin %}
    <div class="header">
      <div class="header-left">
        <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
        <div class="tab"><a class="active" href="/game/sports_page">Desporto</a></div>
        <div class="tab"><a href="">Promoções</a></div>
        <div class="tab"><a href="">{{ fname }}</a></div>
        <div class="tab"><a>ADMIN</a></div>
      </div>
      <div class="header-right">
        <div class="tab"><a href="/accounts/logout">Logout</a></div>
      </div>
    </div>
    {% elif specialist %}
    <div class="header">
      <div class="header-left">
        <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
        <div class="tab"><a class="active" href="/game/sports_page">Desporto</a></div>
        <div class="tab"><a href="">Promoções</a></div>
        <div class="tab"><a href="">{{ fname }}</a></div>
        <div class="tab"><a>SPECIALIST</a></div>
      </div>
      <div class="header-right">
        <div class="tab"><a href="/accounts/logout">Logout</a></div>
      </div>
    </div>
    {%else%}
    <div class="header">
      <div class="header-left">
        <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
        <div class="tab"><a href="">Promoções</a></div>
        <div class="tab"><a href="">{{ fname }}</a></div>
        <a href="/accounts/balance">Balanco: {{ balance }}€</a>
      </div>
      <div class="header-right">
        <div class="tab"><a href="/accounts/logout">Logout</a></div>
      </div>
    </div>
    <div><p>OPEN BETS</p></div>
    <table>
      {%for b in openBets%}
      <tr>
        {% if b.type == "simple" %}
        <td>{{b.type}}</td>
        <td>{{b.amount}}</td>
        <td>[{{b.odd}}|{{b.home}}-{{b.away}}|{{b.bet}}]</td>
        {% else %}
        <td>{{b.type}}</td>
        <td>{{b.amount}}</td>
        <td>
          {% for g in b.games %}
          [{{g.odd}}|{{g.home}}-{{g.away}}|{{g.bet}}]
          {%endfor%}
        </td>
        {% endif %}
      </tr>
      {%endfor%}
    </table>
    <div><p>CLOSED BETS</p></div>
    <table>
      {%for b in closedBets%}
      <tr>
        {% if b.type == "simple" %}
        <td>{{b.type}}</td>
        <td>{{b.amount}}</td>
        <td>[{{b.odd}}|{{b.home}}-{{b.away}}|{{b.bet}}]</td>
        <td>{{b.happened}}</td>
        {% else %}
        <td>{{b.type}}</td>
        <td>{{b.amount}}</td>
        <td>
          {% for g in b.games %}
          [{{g.odd}}|{{g.home}}-{{g.away}}|{{g.bet}}|{{g.happened}}]
          {%endfor%}
        </td>
        <td>{{b.happened}}</td>
        {% endif %}
      </tr>
      {%endfor%}
    </table>


    {% endif %}
  {% else %}
  <div class="header">
    <div class="header-left">
      <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
      <div class="tab"><a class="active" href="/game/sports_page">Desporto</a></div>
      <div class="tab"><a href="">Promoções</a></div>
    </div>
    <div class="header-right">
      <div class="tab"><a href="/accounts/login">Login</a></div>
      <div class="tab"><a href="/accounts/signup">Registar</a></div>
    </div>
  </div>
  {% endif %}
 </body>
 </html>
