{% load static %}
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'display.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'scrollbar.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'history.css' %}"/>
{% csrf_token %}
<title> Home Page </title>
</head>

<body>
    <div class="header">
      <div class="header-left">
        <div class="tab"><a class="img" href="/" ><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></a></div>
        <div class="tab"><a href="/">Sport</a></div>
        <div class="tab"><a href="/accounts/promotions">Promotions</a></div>
        <div class="tab"><a class="active" href="/accounts/profile">{{ fname }}</a></div>
        <div class="tab_balance">{{ balance | floatformat:2 }}€<a href="/accounts/deposit">+</a></div>
      </div>
      <div class="header-right">
        <div class="tab"><a href="/accounts/logout">Logout</a></div>
      </div>
    </div>
    <div class="container">
      <div class="statistics">
        <div><h2>Statistics</h2></div>
        <div class="statistics-side">
          <div class="statistics-side3">
            <p>Total deposit: <b>{{statistics.deposit | floatformat:2}} €</b></p>
          </div>
          <div class="statistics-side3">
            <p>Total withdraw: <b>{{statistics.withdraw | floatformat:2}} €</b></p>
          </div>
          <div class="statistics-side3">
            <p>Total bet: <b>{{statistics.bet_spend | floatformat:2}} €</b></p>
          </div>
          <div class="statistics-side4">
            <p>Total gains: <b>{{statistics.bet_gains| floatformat:2}} €</b></p>
          </div>
        </div>
        <div><h3>All bets</h3></div>
        <div class="statistics-side">
          <div class="statistics-side5">
            <p>Bets: <b>{{statistics.bets}}</b></p>
          </div>
          <div class="statistics-side5">
            <p>Standby bets: <b>{{statistics.standby_bets}}</b></p>
          </div>
          <div class="statistics-side5">
            <p>Won bets: <b>{{statistics.won_bets}}</b></p>
          </div>
          <div class="statistics-side5">
            <p>Lost bets: <b>{{statistics.lost_bets}}</b></p>
          </div>
          <div class="statistics-side5">
            <p>Win rate: <b>{{statistics.win_rate|floatformat:2}}%</b></p>
          </div>
        </div>
        <div><h3>Simple bets</h3></div>
        <div class="statistics-side">
          <div class="statistics-side4">
            <p>Bets: <b>{{statistics.simple_bets}}</b></p>
          </div>
          <div class="statistics-side4">
            <p>Won bets: <b>{{statistics.won_simple_bets}}</b></p>
          </div>
          <div class="statistics-side4">
            <p>Lost bets: <b>{{statistics.lost_simple_bets}}</b></p>
          </div>
          <div class="statistics-side4">
            <p>Win rate: <b>{{statistics.win_rate_simple|floatformat:2}}%</b></p>
          </div>
        </div>
        <div><h3>Multiple bets</h3></div>
        <div class="statistics-side">
          <div class="statistics-side4">
            <p>Bets: <b>{{statistics.multiple_bets}}</b></p>
          </div>
          <div class="statistics-side4">
            <p>Won bets: <b>{{statistics.won_multiple_bets}}</b></p>
          </div>
          <div class="statistics-side4">
            <p>Lost bets: <b>{{statistics.lost_multiple_bets}}</b></p>
          </div>
          <div class="statistics-side4">
            <p>Win rate: <b>{{statistics.win_rate_multiple|floatformat:2}}%</b></p>
          </div>
        </div>        
      </div>
      <div class="transactions">
        <div><h2>Transactions</h2></div>
        <table>
          <tr>
            <th>Operation</th>
            <th>Amount</th>
            <th>Method</th>
            <th>Date</th>
          </tr>
          {%for t in transactions%}
          <tr>
            <td>{{t.type}}</td>
            <td>{{t.amount|floatformat:2}} €</td>
            <td>{{t.method}}</td>
            <td>{{t.date|date:"d/m/Y H:m\H"}}</td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>
 </body>
 </html>