{% load static %}
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'display.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'scrollbar.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'history.css' %}"/>
{% csrf_token %}
<title> History Bets </title>
</head>

<body>
  <div class="header">
    <div class="header-left">
      <div class="tab"><a class="img" href="/" ><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></a></div>
      <div class="tab"><a href="/">Sport</a></div>
      <div class="tab"><a href="/accounts/promotions">Promotions</a></div>
      <div class="tab"><a class="active" href="/accounts/profile">{{ fname }}</a></div>
      <div class="tab_balance">{{ balance | floatformat:2 }}€<a href="/accounts/deposit">+</a></div>
    </div>
    <div class="header-right">
      <div class="language">
        <select class="change_language" original-value="{{language}}" value="{{language}}" onchange="change_language(this)">
          <optgroup>
            <option selected disabled hidden  value="{{language}}">{{language|upper}}</option>
            <option value="en">EN</option>
            <option value="pt">PT</option>
          </optgroup>
        </select>
      </div>
      <div class="tab"><a href="/accounts/logout">Logout</a></div>
    </div>
  </div>

  <div class="container">
    <div class="history_bets">
      <div><h2>Bets History</h2></div>
      <table>
        <tr>
          <th>Type</th>
          <th>Amount</th>
          <th>Odd</th>
          <th>Bet(s)</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
        {%for b in bets%}
        <tr>
          {% if b.type == "simple" %}
          <td>Simple</td>
          <td>{{b.amount|floatformat:2}} €</td>
          <td>{{b.odd|floatformat:2}}</td>

          <td>
            <div class="game">
              <div class="game-top">
                <div class="game-top-item">{{b.odd}}</div>
                <div class="game-top-item">{{b.bet}}</div>
                <div class="game-top-item">{{b.status}}</div>
              </div>
              <div class="game-bottom">
                <div>{{b.home}}{% if g.status == "Open" %} - {%else%} {{b.home_score}} - {{b.away_score}} {% endif %}{{b.away}}</div>
              </div>
            </div>
          </td>

          {% else %}
          <td>Multiple</td>
          <td>{{b.amount|floatformat:2}} €</td>
          <td>{{b.odd|floatformat:2}}</td>
          <td>
            {% for g in b.games %}
            <div class="game">
              <div class="game-top">
                <div class="game-top-item">{{g.odd}}</div>
                <div class="game-top-item">{{g.bet}}</div>
                <div class="game-top-item">{{g.status}}</div>
              </div>
              <div class="game-bottom">
                <div>{{g.home}} {% if g.status == "Open" %} - {%else%} {{g.home_score}} - {{g.away_score}} {% endif %}{{g.away}}</div>
              </div>
            </div>            
            {%endfor%}
          </td>
          {% endif %}
          <td>{{b.date|date:"H:m\H d/m/Y"}}</td>
          {% if b.status == "Open" %}
          <td>
            <form action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="bet_id" value="{{b.id}}">
              {{b.status}}
              <button type="submit">Cancel</button>
            </form>
          </td>
          {% else %}
          <td>{{b.status}}</td>
          {% endif %}
        </tr>
        {%endfor%}
      </table>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'cookies.js' %}"></script>
 </body>
 </html>
