{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="widht=device-width, initial-scale=1.0">
  <title> Sign in </title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
    <div class="box">
    <div class="title-box">
      <img src="{% static 'logo.png' %}" alt="Rasbet">
      <p>A Rasbet ajuda-te a apostar nos teus eventos desportivos favoritos.</p>
    </div>
    <div class="form-box">
      <form method="POST" required>
        <input type="text" placeholder="Email" name="email" value="" required>
        <input type="password" placeholder="Password" name="psw" value="" required>
        <button type="submit">LOGIN IN</button>
        {% csrf_token %}
        {% if error %}
        <span>{{ msg }}<span>
        {% endif %}
        <a href="#">Forgotten Password</a>
      </form>
      <hr>
      <div class="create-btn">
        <a href="/accounts/signup">Create New Account</a>
      </div>
    </div>
  </div>
</body>
</html>