{% load static %}
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'display.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'games-list.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'boletim.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'scrollbar.css' %}"/>
{% csrf_token %}
<title> Home Page </title>
</head>

<body>
  
  {% if logged %}
    {% if admin %}
    <div class="header">
      <div class="header-left">
        <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
        <div class="tab"><a class="active" href="/game/sports_page">Desporto</a></div>
        <div class="tab"><a href="">Promoções</a></div>
        <div class="tab"><a href="">{{ fname }}</a></div>
        <div class="tab"><a>ADMIN</a></div>
      </div>
      <div class="header-right">
        <div class="tab"><a href="/accounts/logout">Logout</a></div>
      </div>
    </div>
    {% elif specialist %}
    <div class="header">
      <div class="header-left">
        <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
        <div class="tab"><a class="active" href="/game/sports_page">Desporto</a></div>
        <div class="tab"><a href="">Promoções</a></div>
        <div class="tab"><a href="">{{ fname }}</a></div>
        <div class="tab"><a>SPECIALIST</a></div>
      </div>
      <div class="header-right">
        <div class="tab"><a href="/accounts/logout">Logout</a></div>
      </div>
    </div>
    {%else%}
    <div class="header">
      <div class="header-left">
        <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
        <div class="tab"><a class="active" href="/game/sports_page">Desporto</a></div>
        <div class="tab"><a href="">Promoções</a></div>
        <div class="tab"><a href="">{{ fname }}</a></div>
        <a href="/accounts/balance">Balanco: {{ balance }}€</a>
      </div>
      <div class="header-right">
        <div class="tab"><a href="/accounts/logout">Logout</a></div>
      </div>
    </div>
    <div>
      {%if msg == 0 %}
      <p>Gravações bem sucedidas!</p>
      {% elif msg == 1 %}
      <p>Email já está registado</p>
      {% elif msg == 2 %}
      <p>Password incorreta</p>
      {%endif%}
      <form method="POST" required>
        {% csrf_token %}
        <input type="text" placeholder="First Name" id="fname" name="fname" value={{user.first_name}} required>
        <input type="text" placeholder="Last Name" id="lname" name="lname" value={{user.last_name}} required>
        <input type="text" placeholder="Email" id="email" name="email" value={{user.email}} required>
        <label for="birthday">Birthday: {{user.birthday}}</label>
        <input type="date" id="birthday" name="birthday" value={{user.birthday}} required/>
        <div id="confirm_state">
          <button type="submit">GRAVAR ALTERAÇÕES</button>
          <input type="password" placeholder="Password" name="psw" value="" required>
      </form>
    </div>
    
    <div>
      <a href="/accounts/history_bets">Historico de apostas</a>
      <a href="/accounts/history_transactions">Historico de transações</a>
      <a href="/accounts/change_password">Alterar password</a>
    </div>


    {% endif %}
  {%else%}
  <div class="header">
    <div class="header-left">
      <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
      <div class="tab"><a class="active" href="/game/sports_page">Desporto</a></div>
      <div class="tab"><a href="">Promoções</a></div>
    </div>
    <div class="header-right">
      <div class="tab"><a href="/accounts/login">Login</a></div>
      <div class="tab"><a href="/accounts/signup">Registar</a></div>
    </div>
  </div>
  {% endif %}
  <script src="{% static 'birthday.js' %}"></script>
 </body>
 </html>