{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="widht=device-width, initial-scale=1.0">
  <title>Rasbet Log ing</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
  <div class="box">
    <div class="title-box">
      <img src="{% static 'logo.png' %}" alt="Rasbet">
      <p>Rasbet é buede fixe e tals depois o Cunha inventa uma frase buéde boa para aqui.</p>
    </div>
    <div class="form-box">
      <form method="POST" required>
        {% csrf_token %}
        <input type="text" placeholder="First Name" id="fname" name="fname" value="" required>
        <input type="text" placeholder="Last Name" id="lname" name="lname" value="" required>
        {%if not fail %}
        <input type="text" placeholder="Email" id="email" name="email" value="" required>
        {% else %}
        <span>Email already in use</span>
        <input type="text" placeholder="Email" id="email" name="email" value="" required><br>
        {% endif %}
        <label for="birthday">Birthday: </label>
        <input type="date" id="birthday" name="birthday" required>
        <input type="password" placeholder="Password" name="psw" value="" pattern="(?=.*\d)(?=.*[a-z]).{8,}" title="Must contain at least one number and at least 8 or more characters" required>
        <button type="submit">REGISTER</button>
      </form>
    </div>
  </div>
</body>
</html>