{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'display.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
<title>Withdraw</title>
</head>

<body>
  <div class="header">
    <div class="header-left">
      <div class="tab"><a class="img" href="/" ><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></a></div>
      <div class="tab"><a href="/">Desporto</a></div>
      <div class="tab"><a href="/accounts/promotions">Promoções</a></div>
      <div class="tab"><a class="active" href="/accounts/profile">{{ fname }}</a></div>
      <div class="tab_balance">{{ balance }}€<a href="/accounts/deposit">+</a></div>
    </div>
    <div class="header-right">
      <div class="tab"><a href="/accounts/logout">Logout</a></div>
    </div>
  </div>
      <form id="myform" method="POST" >
        {% csrf_token %}
        <h2>Insere o montante a levantar:</h2> <br>
        <input type="number" name="amount" required><br><br>

        <input type="submit" name="withdraw" value="levantar">

      </form>
  </body>
</html>
