{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'display.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}"/>
<title>Levantar dinheiro</title>
</head>

<body>
  <div class="header">
    <div class="header-left">
      <div class="tab"><a class="img" href="/" ><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></a></div>
      <div class="tab"><a href="/">Desporto</a></div>
      <div class="tab"><a href="/accounts/promotions">Promoções</a></div>
      <div class="tab"><a class="active" href="/accounts/profile">{{ fname }}</a></div>
      <div class="tab_balance">{{ balance | floatformat:2 }}€<a href="/accounts/deposit">+</a></div>
    </div>
    <div class="header-right">
      <div class="language">
        <select class="change_language" original-value="{{language}}" value="{{language}}" onchange="change_language(this)">
          <optgroup>
            <option selected disabled hidden  value="{{language}}">{{language|upper}}</option>
            <option value="en">EN</option>
            <option value="pt">PT</option>
          </optgroup>
        </select>
      </div>
      <div class="tab"><a href="/accounts/logout">Sair</a></div>
    </div>
  </div>
  <div class="container">
    <div class="form-box">
      <form id="myform" method="POST" >
        {% csrf_token %}
        <h2>Montante a levantar</h2>
        <input type="number" name="amount" required>
        <button type="submit" name="withdraw" value="levantar">Levantar</button>
      </form>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'cookies.js' %}"></script>
  </body>
</html>
