{% load static %}
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'top-nav.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'games-list.css' %}"/>
{% csrf_token %}
<title> Home Page </title>
</head>

<body>
  <div class="logo">
    <a href="#"></a>
    <img src="{% static 'logo.png' %}" alt="Rasbet">
  </div>
  {% if logged %}
  <nav>
    <ul>
      <li><a href="/">{{ fname }}</a></li>
      <li><a href="/game/sports_page">Desporto</a></li>
      <li><a href="">Promoções</a></li>
      <li><a href="/accounts/balance">Balance: {{ balance }}€</a></li>
    </ul>
  </nav>
  {% else %}
  <nav>
    <ul>
      <li><a href="/accounts/login">Aceder</a></li>
      <li><a href="/game/sports_page">Desporto</a></li>
      <li><a href="">Promoções</a></li>
    </ul>
  </nav>
{% endif %}

  {% if logged %}
      <a> Logged in : bemvindo {{ fname }} </a>
  {% else %}
      <a> Ainda não está logado click em aceder! </a>
  {% endif %}

  <br>
  {% if logged %}
  <a href="/accounts/logout">Logout</a>
  <br>
  {% endif %}
  <br>  <br>
  <div class="flex-container">
    <div class="matchlist"> </div>
    <div class="matchlist">
        <table>
          {% for g in games_info%}
            <tr>
              <th>info</th>
              <th class="font-10">{{g.datetime|date:'d/m/Y H:i'}}</th>
              <th class="font-10" >Resultado(Tempo Regulamentar)</th>
            </tr>
            <tr>
              <td>{{g.game.home}} - {{g.game.away}}</td>

              <td>{{g.home_odd}}</td>
              <td>{{g.away_odd}}</td>
              <td>{{g.draw_odd}}</td>
            </tr>
          {% endfor %}
        </table>
    </div>
    <div class="betslip">
      <a>BOLETIM<a>

    </div>
</div>
</body>

</html>
