{% load static %}
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'display.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'games-list.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'boletim.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'scrollbar.css' %}"/>
{% csrf_token %}
<title> Home Page </title>
</head>

<body>
  {% if logged %}
  <div class="header">
    <div class="header-left">
      <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
      <div class="tab"><a class="active" href="/game/sports_page">Desporto</a></div>
      <div class="tab"><a href="">Promoções</a></div>
      <div class="tab"><a href="/accounts/profile">{{ fname }}</a></div>
      <a href="/accounts/balance">Balance: {{ balance }}€</a>
    </div>
    <div class="header-right">
      <div class="tab"><a href="/accounts/logout">Logout</a></div>
    </div>
  </div>
  {% else %}
  <div class="header">
    <div class="header-left">
      <div class="tab"><img src="{% static 'logo.png' %}" alt="Rasbet Logo"></div>
      <div class="tab"><a class="active" href="/game/sports_page">Desporto</a></div>
      <div class="tab"><a href="">Promoções</a></div>
    </div>
    <div class="header-right">
      <div class="tab"><a href="/accounts/login">Login</a></div>
      <div class="tab"><a href="/accounts/signup">Registar</a></div>
    </div>
  </div>
  {% endif %}

  <div class="display">
    <div class="display-left" style="background-color:#aaa;">
      <h2>Desportos</h2>
      <form method='get' action="/game/sport">
        {% for s in sports_info %}


          <div class="column odds">
            <div class="column odd">
                <button name="sport" type="submit" value="{{s}}" data-checked="false" >{{s}}</button>
            </div>
          </div>

        {% endfor %}
      </form>
    </div>
    <div class="display-center">
      {% for g in games_info%}
      <div class="card-event">
        <div class="event">
          <div class="event_path">
            <p><span>{{g.sport}} - {{g.country}} - {{g.competition}}<span></p>
          </div>
          <div class="event_info">
            <div class="home">
              <p><b>{{g.game.home}}</b></p>
            </div>
            <div class="event_date">
              <div class="datetime">
                <div class="date">
                  {{g.game.datetime|date:"d/m/Y"}}
                </div>
                <div class="hour">
                  {{g.game.datetime|date:"H:i"}}
                </div>
              </div>
            </div>
            <div class="away">
              <p><b>{{g.game.away}}</b></p>
            </div>
          </div>
        </div>
        <div class="market_odds">
          <div class="odds">
            <div class="odd">
              <button name="{{g.game.game_id}}" data-checked="false" data-home="{{g.game.home}}" data-away="{{g.game.away}}" data-bet="{{g.game.home}}" data-odd="{{g.home_odd}}" onclick="button_handler(this);" >{{g.game.home}}<br><span>{{g.home_odd}}</span></button>
            </div>
            <div class="odd">
              <button name="{{g.game.game_id}}" data-checked="false" data-home="{{g.game.home}}" data-away="{{g.game.away}}" data-bet="Draw" data-odd="{{g.draw_odd}}" onclick="button_handler(this);" >Draw<br><span>{{g.draw_odd}}</span></button>
            </div>
            <div class="odd">
              <button name="{{g.game.game_id}}" data-checked="false" data-home="{{g.game.home}}" data-away="{{g.game.away}}" data-bet="{{g.game.away}}" data-odd="{{g.away_odd}}" onclick="button_handler(this);">{{g.game.away}}<br><span>{{g.away_odd}}</span></button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="display-right">
      <div class="boletimWrapper">
        <form id="slipform" data-counter="0" data-sameGcounter="0" data-bettype="simple"></form>
          <div class="boletim">
            <div class="boletimHeader">
              <div class="title">
                <p>A minha aposta</p>
              </div>
              <div class="tabs">
                <div class="tab">
                  <button id="simplebtt" class="checked" onclick="slip_handler('simple')">Simples</button>
                </div>
                <div class="tab">
                  <button id="multibtt" class="unchecked" onclick="slip_handler('multiple')">Multipla</button>
                </div>
              </div>
            </div>
            <div id="slipbody" class="boletimContent slip"></div>
            <div class="boletimFooter">
              <div class="boletimRow">
                <div id="rowCimaNome" class="boletimRowItem start"><span>Montante Total</span></div>
                <div id="rowCimaValor" class="boletimRowItem end"><span>0,00€</span></div>
              </div>
              <div class="boletimRow">
                <div id="rowBaixoNome" class="boletimRowItem start"><span>Ganhos Possíveis</span></div>
                <div id="valorGanhos" class="boletimRowItem end"><span>0,00€<span></div>
              </div>
              <div class="boletimRowItem">
                <div>
                  <input class="buttonApostar" type="submit" value="Apostar" onclick="post_slip()" > </input>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'bettingslip.js' %}"></script>
  <script src="{% static 'cookies.js' %}"></script>
 </body>
 </html>
